.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    overflow: hidden;
    padding: 20px 10px;
}

/* Style the header links */
.header p {
    font-size: 35px;
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
}

.body {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 33%;
}
