.card {
    padding: 10px;
    background-color: #000;
    color: #fff;
    transition-duration: 0.5s;
    cursor: pointer;
}

.header {
    font-size: 1.7em;
}

.card:hover {
    background-color: #fff;
    color: #000;
}

.body {
    overflow: hidden;
    height: 200px;
}
